/* MultiStepForm.css */
.progress-bar {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .progress {
    background-color: #000000;
    height: 10px;
    transition: width 0.3s ease;
  }
  
  h2 {
    margin-top: 0;
  }
  